server {
    listen 80;
    server_name __SERVER_NAME__;

    root __DOCROOT__;
    index index.php index.html index.htm;

    access_log __LOG_ACCESS__;
    error_log __LOG_ERROR__;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php__PHP_VERSION__-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}
